* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  color: var(--text-heading);

  background-color: white;

  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 0.875rem;
  font-weight: 400;
}

button:hover {
  cursor: pointer;
}
