.item {
  background-color: white;

  min-width: 20rem;

  list-style: none;

  padding: var(--space-1);

  border: var(--border);
  border-radius: var(--radius);

  cursor: grab;
}
.item:active {
  cursor: grabbing; /* TODO: for some reason mouse is error symbol when dragging */
}
.item__details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}
.item__role {
}
.item__button {
  background: transparent;
  border: none;
}
/* TODO: animate it so that it fades in from right to left upon appearance */
.item__menu {
  position: absolute;
  right: 0%;
  top: 105%;
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-1);

  box-shadow: var(--shadow);
  border: var(--border);
  border-radius: var(--radius);

  padding: var(--space-1);

  background-color: white;
}
/* TODO: each option (edit and delete) needs hover effects */
.item__menu button {
  background-color: transparent;
  border: none;

  color: var(--subtext);
}
.item__company {
  color: var(--subtext);
}
.item__date {
  color: var(--subtext);

  font-size: 0.75rem;

  margin-top: 1ch;
}
