/* TODO: clean all ts up */

.container {
  display: grid;
  grid-template-columns: repeat(
    4,
    minmax(25rem, 1fr)
  ); /* greater than min (left), smaller than max (right) */
  gap: var(--space-1);

  padding: 3rem;
}

.column {
  background-color: var(--bg);

  height: 82.5vh;

  border-radius: var(--radius-xs);

  padding: var(--space-z);

  display: flex;
  flex-direction: column;
}
.column__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column__title-group {
  display: flex;
  align-items: center;
  gap: var(--space-z);
}
.column__title {
  font-weight: 600;
  font-size: 1rem;
}
.column__description {
  color: var(--text-accent);
  margin: var(--space-1) 0 var(--space-z) 0;
}
.column__count {
  border: var(--border);
  border-radius: var(--radius-full);

  padding: 0.125rem 0.5rem;

  color: var(--text-secondary);
}
.column__dot {
  width: 0.625rem;
  height: 0.625rem;

  border-radius: var(--radius-full);
}
#apply .column__dot {
  background-color: var(--accent-apply);
  box-shadow: 0 1px 10px var(--accent-apply);
}
#progress .column__dot {
  background-color: var(--accent-progress);
  box-shadow: 0 1px 10px var(--accent-progress);
}
#reject .column__dot {
  background-color: var(--accent-reject);
  box-shadow: 0 1px 10px var(--accent-reject);
}
#offer .column__dot {
  background-color: var(--accent-offer);
  box-shadow: 0 1px 10px var(--accent-offer);
}

.dropzone {
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  height: 100%;

  scrollbar-width: none;
}

.item {
  background-color: white;

  padding: 0.8rem;

  cursor: grab; /* grabbing */

  border: var(--border);
  border-radius: var(--radius-xs);
}
.item__details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}
.item__role {
}
.item__button {
  background: transparent;
  border: none;
}
/* TODO: animate it so that it fades in from right to left upon appearance */
.item__options {
  position: absolute;
  right: 0%;
  top: 105%;
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-1);

  box-shadow: var(--shadow);
  border: var(--border);
  border-radius: var(--radius-md);

  padding: var(--space-2);

  background-color: white;
}
/* TODO: each option (edit and delete) needs hover effects */
.item__options button {
  background-color: transparent;
  border: none;

  color: var(--text-secondary);
}
.item__company {
  color: var(--text-secondary);
}
.item__date {
  color: var(--text-accent);

  font-size: 0.75rem;

  margin-top: 1ch;
}
